@model IEnumerable<StoredProcedCrud.Models.Vendor>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            @*<a class="btn btn-sm btn-primary m-2" asp-action="Create">Add Vendor</a>*@
            <a class="btn btn-sm btn-primary m-2" asp-action="Saveorupdate">Add Vendor</a>
            <table id="mydatatable" class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>City</th>
                        <th>Pincode</th>
                        <th>Action</th>
                    </tr>
                </thead>
                @*<tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Gender</td>
                            <td>@item.City</td>
                            <td>@item.Pincode</td>
                            <td>
                                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="Stored" asp-route-id="@item.Id">Edit</a>|
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="Stored" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete ?')">Delete</a>
                            </td>
                        </tr>
                    }

                </tbody>*@
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/Datatable.js"></script>

}
